<h1>Post Form</h1>

<% if @post.errors.any? %>
    <ul>
        <% @post.errors.full_messages.each do |e| %>
        <li class="error_message"> <%= e %> </li>
        <% end %>
    </ul>
<% end %>

<%= form_for @post do |f| %>
    <%= f.label :blogger %>
    <%= f.collection_select(:blogger_id, @bloggers, :id, :name) %>

    <%= f.label :dstination %>
    <%= f.collection_select(:destination_id, @destinations, :id, :name) %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content %>
    <%= f.text_area :content %>

    <%= f.submit %>
<% end %>